.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

input[class=name] {
	margin-left: 10px;
}

input[class=last] {
	margin-left: 12px;
}

input[class=user] {
	margin-left: 15px;
}

input[class=pass] {
	margin-left: 20px;
}

input[class=city] {
	margin-left: 59px;
	margin-top: 10px;
}

input[class=street] {
	margin-left: 45px;
}

input[class=zip] {
	margin-left: 25px;
}

.add-div {
	margin-top: 10px;
}

.sel-select {
	margin-top: 15px;
}

.score-div {
	margin-left: 100px;
	margin-top: 40px;
}

.table-t {
	font-size: larger;
}

.index-img {
	border: 0px solid #ddd;
	border-radius: 0px;
	padding: 5px;
	width: 548px;
	margin-left: 850px;
	margin-top: -32%;
	opacity: 0.8;
}

.btn-div {
	margin-left: 343px;
	margin-top: 20px;
}
button[id=btn-login] {
	width: 20%;
}